<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exmple.lenovo.mynotesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".view.NewBerita"
            android:label="Berita Terbaru"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait">
        <meta-data
        android:name="android.support.PARRENT_ACTIVITY"
        android:value=".view.MainActivity" />
        </activity>

        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <activity
            android:name=".view.DetailActivity"
            android:label="Berita"
            android:parentActivityName=".view.Berita"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.Berita" />
        </activity>
        <activity
            android:name=".view.AppInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Berita"
            android:label="Berita Terbaru"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARRENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>